<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 50px;">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}">Clinic</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#clinicnavbar" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="clinicnavbar">
        <ul class="navbar-nav ms-auto">
          {% if request.user.is_authenticated %}
            {% if perms.clinic.view_appointment %}
            <li class="nav-item">
              <a class="nav-link {%if 'appointments' in request.path %} active {% endif %}" href="{% url 'appointments_dashboard' %}">appointments</a>
            </li>
            {% endif %}
            {% if perms.clinic.view_patient %}
            <li class="nav-item">
              <a class="nav-link {%if 'patients' in request.path %} active {% endif %}" href="{% url 'patients' %}">patients</a>
            </li>
            {% endif %}
            {% if perms.clinic.view_doctor %}
              <li class="nav-item">
                <a class="nav-link {%if 'doctors' in request.path %} active {% endif %}" href="{% url 'doctors' %}">doctors</a>
              </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'signout' %}">logout</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>