<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 50px;">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}">Clinic</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#clinicnavbar" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="clinicnavbar">
        <ul class="navbar-nav">
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'patients' %}">patients</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'doctors' %}">doctors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'signout' %}">logout</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>