{% extends "components/base.html" %}
{% block content %}
<!-- <div class="container">
  <div class="col-lg-4 offset-lg-3">
    <h2 class="text-center">Schedule Appointment</h2>
    <form id="create-appointment" method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="patient_type" class="col-form-label">Patient</label>
          <select class="form-select" id="id_patient" name="patient_type">
            <option value="" disabled selected>-</option>
            {% for key, value in types %}
            <option value="{{ key }}">{{ value}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="mb-3">
          <label for="date" class="col-form-label">Date</label>
          <input type="date" class="form-control" id="date" name="date">
        </div>
        <div class="mb-3">
          <label for="time" class="col-form-label">Time</label>
          <input type="time" class="form-control" id="time" name="time">
        </div>
        <div class="mb-2">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
  </div>
</div> -->

<script>
  $(document).ready(function() {
    $('#id_patient').select2({
      ajax: {
        url: "{% url 'get_patients' %}",
        dataType: 'json',
        processResults: function(data) {
          return {
            results: $.map(data, function(item) {
              return {id: item.id, text: item.first_name +" "+item.last_name}
            })
          }
        }
      }
    });
});
</script>
{% endblock %}
