{% extends "components/base.html" %}
{% block content %}
<div class="container">
  <div class="row gx-5" style="margin-bottom: 50px;">
    <div class="col-5">
      <div class="p-1">
        <h4 class="text-capitalize">{{patient}}</h4>
      </div>
      <form method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="patient_type" class="col-form-label">Type</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="patient_type" id="patient_type_out" {% if appointment.patient_type == 'out' %} checked {% endif %}>
              <label class="form-check-label" for="patient_type_out">
                out patient
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="patient_type" id="patient_type_in" {% if appointment.patient_type == 'in' %} checked {% endif %}>
              <label class="form-check-label" for="patient_type_in">
                in patient
              </label>
            </div>
          </div>
          <div class="mb-3">
            <label for="symptoms" class="col-form-label">Symptoms</label>
            <input type="text" class="form-control" id="symptoms" name="symptoms" value="{{appointment.symptoms}}">
          </div>
          <div class="mb-3">
            <label for="illness" class="col-form-label">Illness</label>
            <input type="text" class="form-control" id="illness" name="illness" value="{{appointment.illness}}">
          </div>
          <div class="mb-3">
            <label for="notes" class="col-form-label">Notes</label>
            <textarea class="form-control" id="notes" name="notes" rows="5" value="123">{{appointment.notes}}</textarea>
          </div>

        <div class="mb-2">
          <button type="submit" class="btn btn-dark">Save</button>
        </div>
      </form>
    </div>
    <div class="col-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Allergies</h5>
          {% for allergie in allergies %}
          {{ allergie }}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Active Medication</h5>
          <ul>
          {% for medication in active_medications %}
            <li>{{medication.name}}</li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="medicationAddModal" tabindex="-1" aria-labelledby="medicationAddModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="medicationAddModalLabel">Medication</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="create-patient-appointment-medication" data-medication-url="">
          <div class="mb-3">
            <label for="name" class="col-form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name">
          </div>
          <div class="mb-3">
            <label for="start" class="col-form-label">Start</label>
            <input type="date" class="form-control" id="start" name="start">
          </div>
          <div class="mb-3">
            <label for="end" class="col-form-label">End</label>
            <input type="date" class="form-control" id="end" name="end">
          </div>
          <div class="mb-3">
            <label for="instructions" class="col-form-label">Instructions</label>
            <textarea class="form-control" id="instructions" name="instructions"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="save-medication">Save</button>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById('medicationAddModal').addEventListener('show.bs.modal', function (event) {
    const url = event.relatedTarget.getAttribute('data-bs-medicationurl');
    document.getElementById('create-patient-appointment-medication').setAttribute('data-medication-url', url)
  });
  document.getElementById('save-medication').onclick = () => {
    const form = document.getElementById('create-patient-appointment-medication');
    const url = form.getAttribute('data-medication-url')
    const data = Object.fromEntries(new FormData(form))

    postData(url, data).then((data) => {
      location.reload();
    });
  };
  document.getElementById('save-consulation').onclick = () => {
    const data =  Object.fromEntries(new FormData(document.getElementById('create-patient-appointment')))
    postData("{% url 'create_patient_consultation' patient.id %}", data).then((data) => {
      location.reload();
    });
    // const data = Object.fromEntries(new FormData(document.getElementById('create-patient-appointment')));
    // const response = fetch("{% url 'create_patient_consultation' patient.id %}", {
    //   method: 'POST',
    //   headers: {
    //     "Content-Type": "application/json",
    //     "X-CSRFToken": "{{ csrf_token }}"
    //   },
    //   body: JSON.stringify(data)
    // }).then((response) => {
    //   return response.json()
    // }).then((data) => {
    //   location.reload();
    // });
  };

  function postData(url, data) {
    const response = fetch(url, {
      method: "POST",
      headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": "{{ csrf_token }}"
        },
      body: JSON.stringify(data),
    });
    return response.json();
  }
</script>
{% endblock %}
