{% extends "components/base.html" %}
{% block content %}
<div class="container-fluid">
  <a class="btn btn-outline-dark btn-sm" href="{% url 'patients' %}">back</a>
  <h2 class="text-capitalize">{{patient}}</h2>
  <div class="row gx-5">
    <div class="col-5">
      <div class="p-1">
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">birth date</th>
              <td>{{ patient.date_of_birth}}</td>
            </tr>
            <tr>
              <th scope="row">email</th>
              <td>{{ patient.email}}</td>
            </tr>
            <tr>
              <th scope="row">phone</th>
              <td>{{ patient.phone}}</td>
            </tr>
            <tr>
              <th scope="row">gender</th>
              <td>{{ patient.gender}}</td>
            </tr>
            <tr>
              <th scope="row">occupation</th>
              <td>{{ patient.occupation}}</td>
            </tr>
            <tr>
              <th scope="row">address</th>
              <td>{{ patient.street}},  {{ patient.city}},  {{ patient.postal_code}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Allergies</h5>
          {% for allergie in allergies %}
          {{ allergie }}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Active Medication</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row gx-5">
    <div class="col">
      <button type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#consultationModal">
        add new
      </button>
      <table class="datatable table table-striped">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Doctor</th>
            <th scope="col">Illness</th>
            <th scope="col">Symptoms</th>
            <th scope="col">Patient Type</th>
            <th scope="col">Medication</th>
          </tr>
        </thead>
        <tbody>
          {% for appointment in consultations %}
          <tr>
            <td>{{ appointment.datetime }}</td>
            <td>{{ appointment.doctor }}</td>
            <td>{{ appointment.illness }}</td>
            <td>{{ appointment.symptoms }}</td>
            <td>{{ appointment.patient_type }}</td>
            <td>
              <!-- <a class="btn btn-outline-dark btn-sm" href="{% url 'patients' %}">add</a> -->
              <button type="button" class="btn btn-outline-dark btn-sm" 
                data-bs-toggle="modal" data-bs-target="#medicationAddModal" 
                data-bs-medicationurl="{% url 'create_patient_consultation_medication' patient.id appointment.id %}">
                add
              </button>
              <a class="btn btn-outline-dark btn-sm" href="">view</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="consultationModal" tabindex="-1" aria-labelledby="consultationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="consultationModalLabel">{{patient}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="create-patient-appointment">
          <div class="mb-3">
            <label for="symptoms" class="col-form-label">Symptoms</label>
            <input type="text" class="form-control" id="symptoms" name="symptoms">
          </div>
          <div class="mb-3">
            <label for="illness" class="col-form-label">Illness</label>
            <input type="text" class="form-control" id="illness" name="illness">
          </div>
          <div class="mb-3">
            <label for="notes" class="col-form-label">Notes:</label>
            <textarea class="form-control" id="notes" name="notes"></textarea>
          </div>
          <div class="mb-3">
            <label for="patient_type" class="col-form-label">Type</label>
            <select class="form-select" id="patient_type" name="patient_type">
              <option value="" disabled selected>-</option>
              {% for key, value in types %}
              <option value="{{ key }}">{{ value}}</option>
              {% endfor %}
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="save-consulation">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="medicationAddModal" tabindex="-1" aria-labelledby="medicationAddModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="medicationAddModalLabel">Medication</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="create-patient-appointment-medication" data-medication-url="">
          <div class="mb-3">
            <label for="name" class="col-form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name">
          </div>
          <div class="mb-3">
            <label for="start" class="col-form-label">Start</label>
            <input type="date" class="form-control" id="start" name="start">
          </div>
          <div class="mb-3">
            <label for="end" class="col-form-label">End</label>
            <input type="date" class="form-control" id="end" name="end">
          </div>
          <div class="mb-3">
            <label for="instructions" class="col-form-label">Instructions</label>
            <textarea class="form-control" id="instructions" name="instructions"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="save-medication">Save</button>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById('medicationAddModal').addEventListener('show.bs.modal', function (event) {
    const url = event.relatedTarget.getAttribute('data-bs-medicationurl');
    document.getElementById('create-patient-appointment-medication').setAttribute('data-medication-url', url)
  });
  document.getElementById('save-medication').onclick = () => {
    const form = document.getElementById('create-patient-appointment-medication');
    const url = form.getAttribute('data-medication-url')
    const data = Object.fromEntries(new FormData(form))

    postData(url, data).then((data) => {
      location.reload();
    });
  };
  document.getElementById('save-consulation').onclick = () => {
    const data =  Object.fromEntries(new FormData(document.getElementById('create-patient-appointment')))
    postData("{% url 'create_patient_consultation' patient.id %}", data).then((data) => {
      location.reload();
    });
    // const data = Object.fromEntries(new FormData(document.getElementById('create-patient-appointment')));
    // const response = fetch("{% url 'create_patient_consultation' patient.id %}", {
    //   method: 'POST',
    //   headers: {
    //     "Content-Type": "application/json",
    //     "X-CSRFToken": "{{ csrf_token }}"
    //   },
    //   body: JSON.stringify(data)
    // }).then((response) => {
    //   return response.json()
    // }).then((data) => {
    //   location.reload();
    // });
  };

  function postData(url, data) {
    const response = fetch(url, {
      method: "POST",
      headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": "{{ csrf_token }}"
        },
      body: JSON.stringify(data),
    });
    return response.json();
  }
</script>
{% endblock %}
