{% extends "components/base.html" %}
{% block content %}
<div class="container">
  <h2 class="text-capitalize">{{patient}}</h2>
  <div class="row gx-5">
    <div class="col">
      <div class="p-1">
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">birth date</th>
              <td>{{ patient.date_of_birth}}</td>
            </tr>
            <tr>
              <th scope="row">email</th>
              <td>{{ patient.email}}</td>
            </tr>
            <tr>
              <th scope="row">phone</th>
              <td>{{ patient.phone}}</td>
            </tr>
            <tr>
              <th scope="row">gender</th>
              <td>{{ patient.gender}}</td>
            </tr>
            <tr>
              <th scope="row">occupation</th>
              <td>{{ patient.occupation}}</td>
            </tr>
            <tr>
              <th scope="row">address</th>
              <td>{{ patient.street}},  {{ patient.city}},  {{ patient.postal_code}}</td>
            </tr>
          </tbody>
        </table>
      </div>
     </div>
     <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Allegies</h5>
          <h6 class="card-subtitle mb-2 text-muted">5 known allegies</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
     </div>
  </div>
  <div class="row gx-5">
    <div class="col">
      <h4>Appointments</h4>
    </div>
  </div>
</div>
{% endblock %}